<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../styles/temp2.css" />
    <title>template</title>
  </head>
  <body>
    <div class="conatiner-fluid m-0">

<!---------------------------------------------- header -->

      <div class="container-fluid col-12 navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse d-lg-flex justify-content-end"
              id="navbarNav"
            >
              <ul
                class="navbar-nav col-12 col-lg-6 d-flex justify-content-between"
              >
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link disabled"
                    href="#"
                    tabindex="-1"
                    aria-disabled="true"
                    >Disabled</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

<!------------------------------------------ main section hero -->

      <div class="container-fluid bg-dark align-items-center col-12 presentation py-5 mb-5">
        <div class="mx-auto col-10 col-sm-8 py-5">
          <p class="display-3 pt-5 fw-normal text-danger" style="max-width: 15ch">
            Hey There. I'm Benja
          </p>
          
          <p class="h1 text-white" >
            I am a software developer
          </p>

          <p class="fs-5 text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia
            illum at quisquam placeat expedita molestias nihil quod sunt
            nesciunt fugiat enim iusto, totam ad corporis voluptas quaerat quis
            vero?
          </p>
          
          <div class="pt-3 pb-5">
            <img class="" src="../assets/t2-Social Media.svg" alt=""/>
          </div>
        </div>
      </div>



      <!------------------------------------------- MAIN CARD---------------------- -->


      <div class="container-fluid  py-5 gy-5">

        <div class="container-fluid d-md-flex align-items-center gap-2 col-10 mx-auto py-5" >
          <p   class="text-center col-10 col-md-5 mx-auto display-6 fw-normal mb-0" >My Recent Works</p>
          <hr class="col-10 mx-auto col-md-7" style="height: 3px;" >
        </div>  


        <div class="my-3 mx-auto col-9 col-sm-7 col-md-10">
          <div
            class="card mx-auto pt-3 p-2 d-md-flex flex-md-row"
            style="max-width: 841px"
          >
            <img
              src="https://benja27.github.io/Portfolio-setup2/assets/Snapshoot%20Portfolio2.svg"
              class="card-img-top"
              alt="..."
            />

            <div class="card-body">
              <h5 class="card-title h1 fw-bold pb-2">Multi-Post Stories</h5>              

              <p class="card-text fs-6 fw-normal pb-3 mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>

              <div class="d-flex mb-3 gap-3">
                <p class="m-0 py-1 px-2">Html</p>
                <p class="m-0 py-1 px-2">Css</p>
                <p class="m-0 py-1 px-2">Bootstrap</p>
                <p class="m-0 py-1 px-2">Ruby</p>
              </div>

              <a href="../main.html" class="btn btn-danger">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>    
      
<!-- -------------------------------------------------SECUNDARY CARDS------------------------ -->

        <div class="row w-100   mx-auto py-5 my- gy-5 " style="max-width: 58rem ; " >

          <!-- ------------------------ first card 1 first card 1 -------------->
          
          
          <div class="card mx-auto p-0 tp2-card-img position-relative" style="max-width:18rem; height: 25rem;">                
            
            <div class="card-body d-flex flex-column justify-content-end gap-2 text-white">
              <h5 class="card-title h1 fw-bold">Data Dashboard Healcare</h5>                  
              
                <p class="card-text fs-6 fw-normal pb-3 mb-0">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
  
                <div class="d-flex  gap-3">
                  <p class="m-0 py-1 px-2 bg-secundary">Html</p>
                  <p class="m-0 py-1 px-2 bg-secundary">Css</p>
                  <p class="m-0 py-1 px-2 bg-secundary">Javascript</p>
                </div>  
                
            </div>
            
            <div class="hover-1 show position-absolute d-flex align-items-end text-center">
              <a href="" class="bg-danger text-white w-100 p-2 fw-bold" >See Proyect</a>
            </div>

          </div>

          <!-- ------------------------ second card 2 second card 2 ------------->  

          <div class="card mx-auto p-0 tp2-card-img position-relative" style="max-width:18rem; height: 25rem;">                
            
            <div class="card-body d-flex flex-column justify-content-end gap-2 text-white">
              <h5 class="card-title h1 fw-bold">Data Dashboard Healcare</h5>                  
              
                <p class="card-text fs-6 fw-normal pb-3 mb-0">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
  
                <div class="d-flex  gap-3">
                  <p class="m-0 py-1 px-2 bg-secundary">Html</p>
                  <p class="m-0 py-1 px-2 bg-secundary">Css</p>
                  <p class="m-0 py-1 px-2 bg-secundary">Javascript</p>
                </div>  
                
            </div>
            
            <div class="hover-1 position-absolute d-flex align-items-end text-center">
              <a href="" class="bg-danger text-white w-100 p-2 fw-bold" >See Proyect</a>
            </div>
  
          </div>  
          
        <!--------------------------------------- card numer 3 ------------------>

        <div class="card mx-auto p-0 tp2-card-img position-relative" style="max-width:18rem; height: 25rem;">                
            
          <div class="card-body d-flex flex-column justify-content-end gap-2 text-white">
            <h5 class="card-title h1 fw-bold">Data Dashboard Healcare</h5>                  
            
              <p class="card-text fs-6 fw-normal pb-3 mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>

              <div class="d-flex  gap-3">
                <p class="m-0 py-1 px-2 bg-secundary">Html</p>
                <p class="m-0 py-1 px-2 bg-secundary">Css</p>
                <p class="m-0 py-1 px-2 bg-secundary">Javascript</p>
              </div>  
              
          </div>
          
          <div class="hover-1 position-absolute d-flex align-items-end text-center">
            <a href="" class="bg-danger text-white w-100 p-2 fw-bold" >See Proyect</a>
          </div>

        </div>  

        <!-- ------------------------ second card 4 second card 4 --------------->

        <div class="card mx-auto p-0 tp2-card-img position-relative" style="max-width:18rem; height: 25rem;">                
            
          <div class="card-body d-flex flex-column justify-content-end gap-2 text-white">
            <h5 class="card-title h1 fw-bold">Data Dashboard Healcare</h5>                  
            
              <p class="card-text fs-6 fw-normal pb-3 mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>

              <div class="d-flex  gap-3">
                <p class="m-0 py-1 px-2 bg-secundary">Html</p>
                <p class="m-0 py-1 px-2 bg-secundary">Css</p>
                <p class="m-0 py-1 px-2 bg-secundary">Javascript</p>
              </div>  
              
          </div>
          
          <div class="hover-1 position-absolute d-flex align-items-end text-center">
            <a href="" class="bg-danger text-white w-100 p-2 fw-bold" >See Proyect</a>
          </div>

        </div>  

        <!-- ------------------------ second card 5 second card 5 --------------->

        <div class="card mx-auto p-0 tp2-card-img position-relative" style="max-width:18rem; height: 25rem;">                
            
          <div class="card-body d-flex flex-column justify-content-end gap-2 text-white">
            <h5 class="card-title h1 fw-bold">Data Dashboard Healcare</h5>                  
            
              <p class="card-text fs-6 fw-normal pb-3 mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>

              <div class="d-flex  gap-3">
                <p class="m-0 py-1 px-2 bg-secundary">Html</p>
                <p class="m-0 py-1 px-2 bg-secundary">Css</p>
                <p class="m-0 py-1 px-2 bg-secundary">Javascript</p>
              </div>  
              
          </div>
          
          <div class="hover-1 position-absolute d-flex align-items-end text-center">
            <a href="" class="bg-danger text-white w-100 p-2 fw-bold" >See Proyect</a>
          </div>

        </div>  

        <!--------------------------------------- card numer 6 ------------------>

        <div class="card mx-auto p-0 tp2-card-img position-relative" style="max-width:18rem; height: 25rem;">                
            
          <div class="card-body d-flex flex-column justify-content-end gap-2 text-white">
            <h5 class="card-title h1 fw-bold">Data Dashboard Healcare</h5>                  
            
              <p class="card-text fs-6 fw-normal pb-3 mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>

              <div class="d-flex  gap-3">
                <p class="m-0 py-1 px-2 bg-secundary">Html</p>
                <p class="m-0 py-1 px-2 bg-secundary">Css</p>
                <p class="m-0 py-1 px-2 bg-secundary">Javascript</p>
              </div>  
              
          </div>
          
          <div class="hover-1 position-absolute d-flex align-items-end text-center">
            <a href="" class="bg-danger text-white w-100 p-2 fw-bold" >See Proyect</a>
          </div>

        </div>  

        <!-- ------------------------ second card 7 second card 7 -->
        
        
        
        </div>  
        
            
<!-- --------------------------------------------------------------------------------------- -->
<!-- ---------------------------- ----- section about ------------------------------ -->
      
<div class="row container-fluid mx-0  bg-dark text-white align-items-center presentation my-5 py-5 my-5 overflow-hidden" >
  
  <!-- ----------------------- -->

  <div class="col-12 col-md-6 py-5 ps-5">
    <p class="display-2 fw-bold pt-5 pb-3h text-danger" style="max-width: 15ch">
      About me
    </p>
    <p class="fs-5 pb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quia
      illum at quisquam placeat expedita molestias nihil quod sunt
      nesciunt fugiat enim iusto, totam ad corporis voluptas quaerat quis
      vero?
    </p>
    
    <button class="btn btn-danger btn-large">Get my resume</button>

  </div>
  
  <!-- --------------------------------------------- about second section -->
  
  <div class="col-12 col-md-6 py-5  about-img ">
    <img src="../assets/about.svg" alt="" class="overflow-hidden" >
  </div>
  
  <hr class="mt-5 col-11 mx-auto">

  <div class="py-3 my-5 col-11 mx-auto text-white d-flex flex-wrap justify-content-evenly">

    <div class="col-12  col-md-6 col-lg-4">
      <div class="d-flex gap-3  pb-4" >
        <img class="align-self-center" src="../assets/Rectangle 55.svg" alt="">
        <p class="h1 mb-0" >Languaje</p>
      </div>
      <p class="fs-4" >Javascript</p>
      <p class="fs-4" >Ruby</p>
      <p class="fs-4" >Html</p>
      <p class="fs-4" >Css</p>      
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="d-flex gap-3 pb-4" >
        <img class="align-self-center" src="../assets/Rectangle 55.svg" alt="">
        <p class="h1 mb-0" >Languaje</p>
      </div>
      <p class="fs-4" >Javascript</p>
      <p class="fs-4" >Ruby</p>
      <p class="fs-4" >Html</p>
      <p class="fs-4" >Css</p>      
    </div>

    <div class="col-12 col-md-12 col-lg-4">
      <div class="d-flex gap-3 pb-4" >
        <img class="align-self-center" src="../assets/Rectangle 55.svg" alt="">
        <p class="h1 mb-0" >Languaje</p>
      </div>
      <p class="fs-4" >Javascript</p>
      <p class="fs-4" >Ruby</p>
      <p class="fs-4" >Html</p>
      <p class="fs-4" >Css</p>      
    </div>

  </div>

</div>

  <!-- ---------------------------------------------------FORM SECTION ------------------------->

  <div class="container-fluid  row mx-auto col-12 py-5 mt-5">
    
    <div class="col-10 mx-auto col-md-6 " >      
      <p class="fs-3 pb-3 fw-bold ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quisquam obcaecati nihil rerum sit. Deserunt ab beatae debitis placeat ducimus veniam sed neque, consequatur quo, dolorem rem fugiat eaque. Ullam?</p>
    </div>
<!-- ////////////////////////////////    ///////////////////////////// -->
    
<div class="col-10 mx-auto col-md-6" >
      <form class="mt-3" >

        <div class="d-flex justify-content-between" >
          <div class="mb-4 col-6">
            <label for="" class="form-label d-none"></label>
            <input type="text" placeholder="enter your name" class="form-control" id="" aria-describedby="emailHelp">          
          </div>
  
          <div class="mb-4 col-6">
            <label for="exampleInputPassword1" class="form-label d-none"></label>
            <input type="email" class="form-control" placeholder="enter your email" id="exampleInputPassword1">
          </div>
        </div>
        
        
        
        
        
        <div class="form-floating pb-4">
          <textarea cols="30" rows="50" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Comments</label>
        </div>
        
        <div class="d-flex d-md-block" >
          <button type="submit" class="btn btn-danger mx-auto">Submit</button>          
        </div>

      </form>  
    </div>

  </div>

  <div class="d-flex" >
    <img src="https://benja27.github.io/Portfolio-setup2/assets/social%20media%20icons.svg" class="mx-auto py-5" alt=""
    style="width: 250px;"
    >
  </div>

  <!-- ------------------------------------------ test------------------------------- -->




  <!-- container-fluid-end tag -->
  </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
